# Python数据分析之Pandas-2

**首先：读入我们上节课保存的数据文件movie_data.xlsx**

In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_excel("movie_data.xlsx",index_col = 0)

In [18]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

## 2.1 数据格式转换

在做数据分析的时候，原始数据往往会因为各种各样的原因产生各种数据格式的问题。  
数据格式是我们非常需要注意的一点，数据格式错误往往会造成很严重的后果。  
并且，很多异常值也是我们经过格式转换后才会发现，对我们规整数据，清洗数据有着重要的作用。

### 查看格式

In [19]:
df["投票人数"].dtype

dtype('int64')

In [20]:
df["投票人数"] = df["投票人数"].astype("int") #转换格式

In [21]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [22]:
df["产地"].dtype

dtype('O')

In [23]:
df["产地"] = df["产地"].astype("str")
df['产地'] = df["产地"].astype("str")

### 将年份转化为整数格式

In [24]:
df["年代"] = df["年代"].astype("int") #有异常值会报错

ValueError: invalid literal for int() with base 10: '2008\u200e'

In [25]:
df[df.年代 == "2008\u200e"] #找到异常数据

         名字  投票人数  类型    产地                 上映时间  时长     年代   评分 首映地点
15205  狂蟒惊魂   544  恐怖  中国大陆  2008-04-08 00:00:00  93  2008‎  2.7   美国

In [26]:
df[df.年代 == "2008\u200e"]["年代"].values #后面是unicode的控制字符，使得其显示靠左，因此需要处理删除

array(['2008\u200e'], dtype=object)

In [29]:
df.loc[15205,"年代"] = 2008

In [30]:
df.loc[15205]

名字                     狂蟒惊魂
投票人数                    544
类型                       恐怖
产地                     中国大陆
上映时间    2008-04-08 00:00:00
时长                       93
年代                     2008
评分                      2.7
首映地点                     美国
Name: 15205, dtype: object

In [31]:
df["年代"] = df["年代"].astype("int")

In [32]:
df["年代"][:5]

0    1994
1    1957
2    1997
3    1994
4    1993
Name: 年代, dtype: int32

### 将时长转化为整数格式

In [33]:
df["时长"] = df["时长"].astype("int")

ValueError: invalid literal for int() with base 10: '8U'

In [34]:
df[df["时长"] == "8U"] #寻找异常值，不知道怎么改的话可以删除

             名字  投票人数      类型  产地                 上映时间  时长    年代   评分 首映地点
31644  一个被隔绝的世界    46  纪录片/短片  瑞典  2001-10-25 00:00:00  8U  1948  7.8   美国

In [35]:
df.drop([31644], inplace = True)

In [36]:
df["时长"] = df["时长"].astype("int")

ValueError: invalid literal for int() with base 10: '12J'

In [37]:
df[df["时长"] == "12J"]

         名字  投票人数   类型  产地                 上映时间   时长    年代   评分 首映地点
32949  渔业危机    41  纪录片  英国  2009-06-19 00:00:00  12J  2008  8.2  USA

In [38]:
df.drop([32949], inplace = True) #删数据
df.drop([32949],inplace = True)

In [39]:
df["时长"] = df["时长"].astype("int")

In [40]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

## 2.2 排序

### 默认排序

In [24]:
df[:10]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
7,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,日本,1997-07-19 00:00:00,87,1997,9.4,日本
8,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,日本,2013-07-06 00:00:00,110,2013,9.4,日本
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国

### 按照投票人数进行排序

In [27]:
df.sort_values(by = "投票人数", ascending = False)[:5] #默认从小到大

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆

### 按照年代进行排序

In [28]:
df.sort_values(by = "年代")[:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
1700,朗德海花园场景,650,短片,英国,1888-10-14,60,1888,8.7,美国
14048,利兹大桥,126,短片,英国,1888-10,60,1888,7.2,美国
26170,恶作剧,51,短片,美国,1905-03-04 00:00:00,60,1890,4.8,美国
10627,可怜的比埃洛,176,喜剧/爱情/动画/短片,法国,1892-10-28,60,1892,7.5,法国
21765,胚胎植入前遗传学筛查,69,纪录片/短片,美国,1894-05-18,60,1894,5.7,美国

### 多个值排序，先按照评分，再按照投票人数

In [30]:
df.sort_values(by = ["评分","投票人数"], ascending = False) #列表中的顺序决定先后顺序

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
23559,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
25273,索科洛夫：巴黎现场,43,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
11479,公园现场,163,音乐,英国,2012-12-03 00:00:00,60,2012,9.8,美国
...,...,...,...,...,...,...,...,...,...
2790,爸爸我来救你了,278,喜剧/动作/家庭/儿童/冒险,中国大陆,2016-01-22 00:00:00,90,2015,2.2,中国大陆
10219,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
29100,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

## 2.3 基本统计分析

（ 1 ）描述性统计

dataframe.describe()：对dataframe中的数值型数据进行描述性统计

In [31]:
df.describe()

                投票人数            时长            年代            评分
count   38167.000000  38167.000000  38167.000000  38167.000000
mean     6268.131291     89.475594   1998.805224      6.922154
std     26298.331602     83.763856    255.065394      1.263782
min        21.000000      1.000000   1888.000000      2.000000
25%       101.000000     60.000000   1990.000000      6.300000
50%       354.000000     93.000000   2005.000000      7.100000
75%      1798.500000    106.000000   2010.000000      7.800000
max    692795.000000  11500.000000  39180.000000      9.900000

### 通过描述性统计，可以发现一些异常值，很多异常值往往是需要我们逐步去发现的。

In [32]:
df[df["年代"] > 2018] #异常值

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [33]:
df[df["时长"] > 1000] #异常值

            名字  投票人数        类型  产地                 上映时间     时长    年代   评分 首映地点
19690     怒海余生    54  剧情/家庭/冒险  美国  1937-09-01 00:00:00  11500  1937  7.9   美国
38730  喧闹村的孩子们    36        家庭  瑞典  1986-12-06 00:00:00   9200  1986  8.7   瑞典

In [34]:
df.drop(df[df["年代"] > 2018].index, inplace = True)
df.drop(df[df["时长"] > 1000].index, inplace = True) #删除异常数据

In [36]:
df.index = range(len(df)) #解决删除后索引不连续的问题

（ 2 ）最值

In [37]:
df["投票人数"].max()

692795

In [38]:
df["投票人数"].min()

21

In [39]:
df["评分"].max()

9.9

In [40]:
df["评分"].min()

2.0

In [41]:
df["年代"].min()

1888

（ 3 ）均值和中值

In [42]:
df["投票人数"].mean()

6268.7812802976705

In [43]:
df["投票人数"].median()

354.0

In [44]:
df["评分"].mean()

6.921951515969828

In [46]:
df["评分"].median()

7.1

（ 4 ）方差和标准差

In [47]:
df["评分"].var()

1.5968697056255758

In [48]:
df["评分"].std()

1.263673100776295

（ 5 ）求和

In [49]:
df["投票人数"].sum()

239235500

（ 6 ）相关系数和协方差

In [50]:
df[["投票人数", "评分"]].corr()

          投票人数        评分
投票人数  1.000000  0.126953
评分    0.126953  1.000000

In [51]:
df[["投票人数", "评分"]].cov()

              投票人数           评分
投票人数  6.916707e+08  4219.174348
评分    4.219174e+03     1.596870

（ 7 ）计数

In [52]:
len(df)

38163

In [59]:
df["产地"].unique() #指定唯一值

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', '巴西', '瑞典', '墨西哥'], dtype=object)

In [60]:
len(df["产地"].unique())

25

### 产地中包含了一些重复的数据，比如美国和USA，德国和西德，俄罗斯和苏联
我们可以通过数据替换的方法将这些相同国家的电影数据合并一下。

In [55]:
df["产地"].replace("USA","美国",inplace = True) #第一个参数是要替换的值，第二个参数是替换后的值

In [58]:
df["产地"].replace(["西德","苏联"],["德国","俄罗斯"], inplace = True) #注意一一对应

In [61]:
len(df["产地"].unique())

25

In [62]:
df["年代"].unique()

array([1994, 1957, 1997, 1993, 2012, 2013, 2003, 2016, 2009, 2008, 2001,
       1931, 1961, 2010, 2004, 1998, 1972, 1939, 2015, 1946, 2011, 1982,
       1960, 2006, 1988, 2002, 1995, 1996, 1984, 2014, 1953, 2007, 2000,
       1967, 1983, 1963, 1977, 1966, 1971, 1974, 1985, 1987, 1973, 1962,
       1969, 1989, 1979, 1981, 1936, 1954, 1992, 1970, 1991, 2005, 1920,
       1933, 1990, 1999, 1896, 1965, 1921, 1947, 1975, 1964, 1943, 1928,
       1986, 1895, 1949, 1932, 1905, 1940, 1908, 1900, 1978, 1951, 1958,
       1898, 1976, 1938, 1907, 1948, 1952, 1926, 1955, 1906, 1959, 1934,
       1944, 1888, 1909, 1925, 1956, 1923, 1945, 1913, 1903, 1904, 1980,
       1968, 1917, 1935, 1942, 1950, 1902, 1941, 1930, 1937, 1922, 1916,
       1929, 1927, 1919, 1914, 1912, 1924, 1918, 1899, 1901, 1915, 1892,
       1894, 1910, 1897, 1911, 1890, 2018])

In [63]:
len(df["年代"].unique())

127

计算每一年电影的数量：

In [70]:
df["年代"].value_counts(ascending = True)[:10] #默认从大到小

1890    1
2018    1
1892    1
1899    2
1898    2
1888    2
1894    3
1897    3
1911    3
1909    4
Name: 年代, dtype: int64

电影产出前5的国家或地区：

In [66]:
df["产地"].value_counts()[:5]

美国      11714
日本       5006
中国大陆     3791
中国香港     2847
法国       2787
Name: 产地, dtype: int64

**保存数据**

In [72]:
df.to_excel("movie_data2.xlsx")

## 2.4 数据透视

Excel中数据透视表的使用非常广泛，其实Pandas也提供了一个类似的功能，名为pivot_table。

pivot_table非常有用，我们将重点解释pandas中的函数pivot_table。

使用pandas中的pivot_table的一个挑战是，你需要确保你理解你的数据，并清楚地知道你想通过透视表解决什么问题。虽然pivot_table看起来只是一个简单的函数，但是它能够快速地对数据进行强大的分析。

1、基础形式

In [85]:
pd.set_option("max_columns",100) #设置可展示的行和列，让数据进行完整展示
pd.set_option("max_rows",500)

In [81]:
pd.pivot_table(df, index = ["年代"]) #统计各个年代中所有数值型数据的均值（默认）

               投票人数          时长        评分
年代
1888     388.000000   60.000000  7.950000
1890      51.000000   60.000000  4.800000
1892     176.000000   60.000000  7.500000
1894     112.666667   60.000000  6.633333
1895     959.875000   60.000000  7.575000
1896     984.250000   60.000000  7.037500
1897      67.000000   60.000000  6.633333
1898     578.500000   60.000000  7.450000
1899      71.000000    9.500000  6.900000
1900     175.285714   36.714286  7.228571
1901     164.500000   47.250000  7.250000
1902    2309.600000   29.600000  7.680000
1903     349.846154   27.000000  7.015385
1904     249.166667   35.000000  7.616667
1905     332.600000   43.800000  6.820000
1906     189.857143   30.571429  7.342857
1907     213.600000   31.800000  7.020000
1908     368.750000   35.000000  7.425000
1909      62.000000   10.750000  7.650000
1910     105.200000   41.800000  6.940000
1911     308.000000   28.666667  7.500000
1912     181.000000   18.000000  7.925000
1913      62.285714   64.571429  6.671429
1914     104.923077   25.923077  6.473077
1915     314.900000   56.800000  7.260000
1916     666.636364   42.363636  7.690909
1917     124.416667   31.333333  7.075000
1918     357.083333   35.166667  7.200000
1919     194.777778   64.611111  7.494444
1920     636.500000   59.357143  7.492857
1921     729.818182   57.363636  7.750000
1922     767.090909   66.363636  7.804545
1923     447.705882   74.882353  7.811765
1924     384.518519   81.962963  8.059259
1925    1104.280000   84.440000  7.788000
1926     443.608696   80.304348  7.773913
1927     695.275862   87.241379  7.751724
1928     413.666667   72.076923  7.964103
1929     740.542857   69.371429  7.440000
1930     555.080000   74.160000  7.360000
1931    1468.666667   78.523810  7.483333
1932     600.081081   77.540541  7.294595
1933     756.020833   79.187500  7.420833
1934     791.460000   83.260000  7.536000
1935     887.695652   73.673913  7.515217
1936    1489.220339   77.440678  7.615254
1937    1612.104167   87.187500  7.568750
1938     552.000000   85.973684  7.736842
1939    5911.857143   97.387755  7.520408
1940    5689.815789   93.684211  7.544737
1941    1552.808511   89.127660  7.427660
1942    2607.754717   78.264151  7.554717
1943     755.357143   79.714286  7.605357
1944    1007.370370   81.925926  7.538889
1945     989.020408   86.959184  7.673469
1946    1034.457627   85.016949  7.606780
1947     443.702703   87.486486  7.502703
1948    1199.255814   88.534884  7.645349
1949     641.685393   81.988764  7.646067
1950    2235.026316   80.157895  7.655263
1951     967.884615   86.653846  7.637179
1952    1507.305882   82.658824  7.775294
1953    4840.620690   84.448276  7.579310
1954    2201.356436   86.326733  7.714851
1955    2000.491228   82.912281  7.567544
1956    1061.675862   76.944828  7.591724
1957    3057.586538   88.884615  7.622115
1958     886.196721   82.975410  7.536885
1959    1725.070312   90.070312  7.571875
1960    1457.107692  101.530769  7.580769
1961    3249.750000   99.510000  7.741000
1962    1985.661972   92.225352  7.707042
1963    1184.027972   92.020979  7.536364
1964    1125.441341   91.162011  7.540782
1965    2012.248447   91.434783  7.591304
1966    1326.640449   89.651685  7.521910
1967    1243.891429   92.074286  7.477143
1968    1107.841176   92.594118  7.324706
1969     601.279412   99.475490  7.367647
1970     683.468085   97.484043  7.294149
1971    1380.576037   96.695853  7.149309
1972    2332.132353   96.372549  7.253431
1973     810.809524   95.471429  7.238095
1974    1693.171171   95.477477  7.063964
1975    2256.704663   97.813472  7.056995
1976    1340.618026   95.055794  7.107725
1977     965.444954   98.197248  7.151376
1978    1001.820896   94.467662  7.096517
1979    1902.991071   96.250000  7.292857
1980    2417.040359   94.443946  7.182063
1981    1620.566176   93.709559  7.154044
1982    2174.809160   92.889313  7.286260
1983    1551.894545   91.985455  7.296727
1984    2676.129693   91.023891  7.380887
1985    1612.430380   93.974684  7.267722
1986    2836.777090   89.235294  7.249536
1987    3146.832845   89.269795  7.282111
1988    4859.352332   89.292746  7.265544
1989    3009.383632   88.501279  7.199233
1990    5003.312821   91.976923  7.156923
1991    4708.414216   93.661765  7.154412
1992    5573.535047   92.670561  7.190187
1993    8154.555809   95.473804  7.186560
1994   11591.339468   91.554192  7.257260
1995    8266.887734   95.114345  7.275052
1996    5154.665362   95.819961  7.249119
1997    8383.681818   95.446970  7.325758
1998    7587.203540   92.021239  7.223540
1999    7228.077796   92.914100  7.171151
2000    6022.013947   92.917713  7.112413
2001    8740.049751   91.342040  7.070647
2002    6705.952218   92.268487  7.045620
2003    8104.751896   90.695558  7.114410
2004    8758.644749   91.376256  6.999909
2005    6626.300242   92.804681  7.011864
2006    7407.740591   90.619624  6.901546
2007    6346.090801   86.842136  6.859703
2008    6876.232486   85.589517  6.892164
2009    8694.675558   86.681546  6.732825
2010    9691.044576   83.785177  6.752793
2011    8860.328455   84.437398  6.560325
2012    7165.750248   85.321606  6.444896
2013    7694.106727   85.337380  6.375974
2014    7803.983931   86.354580  6.249384
2015    7954.999363   90.338432  6.121925
2016    7341.388889   91.646825  5.834524
2018  123456.000000  142.000000  6.935704

2、也可以有多个索引。实际上，大多数的pivot_table参数可以通过列表获取多个值。

In [80]:
pd.pivot_table(df, index = ["年代", "产地"]) #双索引

                  投票人数          时长        评分
年代   产地
1888 英国     388.000000   60.000000  7.950000
1890 美国      51.000000   60.000000  4.800000
1892 法国     176.000000   60.000000  7.500000
1894 法国     148.000000   60.000000  7.000000
     美国      95.000000   60.000000  6.450000
...                ...         ...       ...
2016 法国      44.666667  104.333333  7.300000
     美国   11224.225806   93.161290  6.522581
     英国   14607.272727   85.545455  7.200000
     韩国    1739.850000  106.100000  5.730000
2018 美国  123456.000000  142.000000  6.935704

[1578 rows x 3 columns]

3、也可以指定需要统计汇总的数据

In [84]:
pd.pivot_table(df, index = ["年代", "产地"], values = ["评分"])

               评分
年代   产地
1888 英国  7.950000
1890 美国  4.800000
1892 法国  7.500000
1894 法国  7.000000
     美国  6.450000
...           ...
2016 法国  7.300000
     美国  6.522581
     英国  7.200000
     韩国  5.730000
2018 美国  6.935704

[1578 rows x 1 columns]

4、还可以指定函数，来统计不同的统计值

In [88]:
pd.pivot_table(df, index = ["年代", "产地"], values = ["投票人数"], aggfunc = np.sum)

           投票人数
年代   产地
1888 英国     776
1890 美国      51
1892 法国     176
1894 法国     148
     美国     190
...         ...
2016 法国     134
     美国  695902
     英国  160680
     韩国   34797
2018 美国  123456

[1578 rows x 1 columns]

通过将“投票人数”列和“评分”列进行对应分组，对“产地”实现数据聚合和总结。

In [89]:
pd.pivot_table(df, index = ["产地"], values = ["投票人数", "评分"], aggfunc = [np.sum, np.mean])

            sum                        mean
           投票人数            评分          投票人数        评分
产地
中国台湾    5237466   4367.200000   8474.864078  7.066667
中国大陆   41380993  22984.800000  10915.587708  6.062991
中国香港   23179448  18430.200000   8141.709870  6.473551
丹麦       394745   1427.600000   2003.781726  7.246701
俄罗斯      486082   3597.200000   1021.180672  7.557143
其他      3048849  13607.900000   1619.144450  7.226713
加拿大     1362581   4769.600000   1921.834979  6.727221
印度      1146173   2443.900000   3219.587079  6.864888
墨西哥      139462    829.000000   1191.982906  7.085470
巴西       357027    716.000000   3606.333333  7.232323
德国      2679856   7338.300000   2624.736533  7.187365
意大利     2500842   5322.700000   3374.955466  7.183131
日本     17981631  36006.000000   3592.015781  7.192569
比利时      170449    986.000000   1244.153285  7.197080
法国     10208966  20186.500000   3663.066380  7.243093
波兰       159577   1347.000000    881.640884  7.441989
泰国      1564881   1796.100000   5322.724490  6.109184
澳大利亚    1415443   2051.300000   4798.111864  6.953559
瑞典       289794   1388.600000   1549.700535  7.425668
美国    101645832  81100.135704   8677.294861  6.923351
英国     13236409  19930.800000   4979.837848  7.498420
荷兰       144596   1081.200000    957.589404  7.160265
西班牙     1486383   3112.100000   3355.266366  7.025056
阿根廷      258085    819.100000   2283.938053  7.248673
韩国      8759930   8523.200000   6527.518629  6.351118

5、非数值（NaN）难以处理。如果想移除它们，可以使用“fill_value”将其设置为0。

In [90]:
pd.pivot_table(df, index = ["产地"], aggfunc = [np.sum, np.mean], fill_value = 0)

           sum                                           mean                \
            年代       投票人数       时长            评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925   4367.200000  1999.009709   8474.864078
中国大陆   7599372   41380993   309031  22984.800000  2004.582432  10915.587708
中国香港   5668630   23179448   252111  18430.200000  1991.088865   8141.709870
丹麦      393821     394745    17436   1427.600000  1999.091371   2003.781726
俄罗斯     944809     486082    45744   3597.200000  1984.892857   1021.180672
其他     3763593    3048849   165057  13607.900000  1998.721721   1619.144450
加拿大    1419787    1362581    57140   4769.600000  2002.520451   1921.834979
印度      714150    1146173    43058   2443.900000  2006.039326   3219.587079
墨西哥     233156     139462    10839    829.000000  1992.786325   1191.982906
巴西      197989     357027     8749    716.000000  1999.888889   3606.333333
德国     2037971    2679856    94196   7338.300000  1996.053869   2624.736533
意大利    1471329    2500842    77311   5322.700000  1985.599190   3374.955466
日本    10011432   17981631   425563  36006.000000  1999.886536   3592.015781
比利时     273932     170449    11380    986.000000  1999.503650   1244.153285
法国     5551130   10208966   251524  20186.500000  1991.794044   3663.066380
波兰      359652     159577    14613   1347.000000  1987.027624    881.640884
泰国      590684    1564881    26002   1796.100000  2009.129252   5322.724490
澳大利亚    590875    1415443    25250   2051.300000  2002.966102   4798.111864
瑞典      371589     289794    17695   1388.600000  1987.106952   1549.700535
美国    23363806  101645832  1053980  81100.135704  1994.519891   8677.294861
英国     5307045   13236409   237129  19930.800000  1996.630926   4979.837848
荷兰      302181     144596    11459   1081.200000  2001.198675    957.589404
西班牙     886685    1486383    40271   3112.100000  2001.546275   3355.266366
阿根廷     226476     258085    10458    819.100000  2004.212389   2283.938053
韩国     2694871    8759930   134225   8523.200000  2008.100596   6527.518629


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.517014  6.062991
中国香港   88.553214  6.473551
丹麦     88.507614  7.246701
俄罗斯    96.100840  7.557143
其他     87.656399  7.226713
加拿大    80.592384  6.727221
印度    120.949438  6.864888
墨西哥    92.641026  7.085470
巴西     88.373737  7.232323
德国     92.258570  7.187365
意大利   104.333333  7.183131
日本     85.010587  7.192569
比利时    83.065693  7.197080
法国     90.249013  7.243093
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.593220  6.953559
瑞典     94.625668  7.425668
美国     89.976097  6.923351
英国     89.213318  7.498420
荷兰     75.887417  7.160265
西班牙    90.905192  7.025056
阿根廷    92.548673  7.248673
韩国    100.018629  6.351118

6、加入margins = True，可以在下方显示一些总和数据。

In [92]:
pd.pivot_table(df, index = ["产地"], aggfunc = [np.sum, np.mean], fill_value = 0, margins = True)

           sum                                            mean                \
            年代       投票人数       时长             评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925    4367.200000  1999.009709   8474.864078
中国大陆   7599372   41380993   309031   22984.800000  2004.582432  10915.587708
中国香港   5668630   23179448   252111   18430.200000  1991.088865   8141.709870
丹麦      393821     394745    17436    1427.600000  1999.091371   2003.781726
俄罗斯     944809     486082    45744    3597.200000  1984.892857   1021.180672
其他     3763593    3048849   165057   13607.900000  1998.721721   1619.144450
加拿大    1419787    1362581    57140    4769.600000  2002.520451   1921.834979
印度      714150    1146173    43058    2443.900000  2006.039326   3219.587079
墨西哥     233156     139462    10839     829.000000  1992.786325   1191.982906
巴西      197989     357027     8749     716.000000  1999.888889   3606.333333
德国     2037971    2679856    94196    7338.300000  1996.053869   2624.736533
意大利    1471329    2500842    77311    5322.700000  1985.599190   3374.955466
日本    10011432   17981631   425563   36006.000000  1999.886536   3592.015781
比利时     273932     170449    11380     986.000000  1999.503650   1244.153285
法国     5551130   10208966   251524   20186.500000  1991.794044   3663.066380
波兰      359652     159577    14613    1347.000000  1987.027624    881.640884
泰国      590684    1564881    26002    1796.100000  2009.129252   5322.724490
澳大利亚    590875    1415443    25250    2051.300000  2002.966102   4798.111864
瑞典      371589     289794    17695    1388.600000  1987.106952   1549.700535
美国    23363806  101645832  1053980   81100.135704  1994.519891   8677.294861
英国     5307045   13236409   237129   19930.800000  1996.630926   4979.837848
荷兰      302181     144596    11459    1081.200000  2001.198675    957.589404
西班牙     886685    1486383    40271    3112.100000  2001.546275   3355.266366
阿根廷     226476     258085    10458     819.100000  2004.212389   2283.938053
韩国     2694871    8759930   134225    8523.200000  2008.100596   6527.518629
All   76210353  239235500  3394146  264162.435704  1996.969656   6268.781280


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.517014  6.062991
中国香港   88.553214  6.473551
丹麦     88.507614  7.246701
俄罗斯    96.100840  7.557143
其他     87.656399  7.226713
加拿大    80.592384  6.727221
印度    120.949438  6.864888
墨西哥    92.641026  7.085470
巴西     88.373737  7.232323
德国     92.258570  7.187365
意大利   104.333333  7.183131
日本     85.010587  7.192569
比利时    83.065693  7.197080
法国     90.249013  7.243093
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.593220  6.953559
瑞典     94.625668  7.425668
美国     89.976097  6.923351
英国     89.213318  7.498420
荷兰     75.887417  7.160265
西班牙    90.905192  7.025056
阿根廷    92.548673  7.248673
韩国    100.018629  6.351118
All    88.938134  6.921952

7、对不同值执行不同的函数：可以向aggfunc传递一个字典。不过，这样做有一个副作用，那就是必须将标签做的更加整洁才行。

In [93]:
pd.pivot_table(df, index = ["产地"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41380993  6.062991
中国香港   23179448  6.473551
丹麦       394745  7.246701
俄罗斯      486082  7.557143
其他      3048849  7.226713
加拿大     1362581  6.727221
印度      1146173  6.864888
墨西哥      139462  7.085470
巴西       357027  7.232323
德国      2679856  7.187365
意大利     2500842  7.183131
日本     17981631  7.192569
比利时      170449  7.197080
法国     10208966  7.243093
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415443  6.953559
瑞典       289794  7.425668
美国    101645832  6.923351
英国     13236409  7.498420
荷兰       144596  7.160265
西班牙     1486383  7.025056
阿根廷      258085  7.248673
韩国      8759930  6.351118

对各个地区的投票人数求和，对评分求均值

对各个年份的投票人数求和，对评分求均值

In [94]:
pd.pivot_table(df, index = ["年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0, margins = True)

           投票人数        评分
年代
1888        776  7.950000
1890         51  4.800000
1892        176  7.500000
1894        338  6.633333
1895       7679  7.575000
1896       7874  7.037500
1897        201  6.633333
1898       1157  7.450000
1899        142  6.900000
1900       1227  7.228571
1901        658  7.250000
1902      11548  7.680000
1903       4548  7.015385
1904       1495  7.616667
1905       1663  6.820000
1906       1329  7.342857
1907       1068  7.020000
1908       1475  7.425000
1909        248  7.650000
1910        526  6.940000
1911        924  7.500000
1912        724  7.925000
1913        436  6.671429
1914       2728  6.473077
1915       6298  7.260000
1916       7333  7.690909
1917       1493  7.075000
1918       4285  7.200000
1919       3506  7.494444
1920       8911  7.492857
1921      16056  7.750000
1922      16876  7.804545
1923       7611  7.811765
1924      10382  8.059259
1925      27607  7.788000
1926      10203  7.773913
1927      20163  7.751724
1928      16133  7.964103
1929      25919  7.440000
1930      13877  7.360000
1931      61684  7.483333
1932      22203  7.294595
1933      36289  7.420833
1934      39573  7.536000
1935      40834  7.515217
1936      87864  7.615254
1937      77381  7.568750
1938      20976  7.736842
1939     289681  7.520408
1940     216213  7.544737
1941      72982  7.427660
1942     138211  7.554717
1943      42300  7.605357
1944      54398  7.538889
1945      48462  7.673469
1946      61033  7.606780
1947      32834  7.502703
1948     103136  7.645349
1949      57110  7.646067
1950     169862  7.655263
1951      75495  7.637179
1952     128121  7.775294
1953     421134  7.579310
1954     222337  7.714851
1955     228056  7.567544
1956     153943  7.591724
1957     317989  7.622115
1958     108116  7.536885
1959     220809  7.571875
1960     189424  7.580769
1961     324975  7.741000
1962     281964  7.707042
1963     169316  7.536364
1964     201454  7.540782
1965     323972  7.591304
1966     236142  7.521910
1967     217681  7.477143
1968     188333  7.324706
1969     122661  7.367647
1970     128492  7.294149
1971     299585  7.149309
1972     475755  7.253431
1973     170270  7.238095
1974     375884  7.063964
1975     435544  7.056995
1976     312364  7.107725
1977     210467  7.151376
1978     201366  7.096517
1979     426270  7.292857
1980     539000  7.182063
1981     440794  7.154044
1982     569800  7.286260
1983     426771  7.296727
1984     784106  7.380887
1985     509528  7.267722
1986     916279  7.249536
1987    1073070  7.282111
1988    1875710  7.265544
1989    1176669  7.199233
1990    1951292  7.156923
1991    1921033  7.154412
1992    2385473  7.190187
1993    3579850  7.186560
1994    5668165  7.257260
1995    3976373  7.275052
1996    2634034  7.249119
1997    4426584  7.325758
1998    4286770  7.223540
1999    4459724  7.171151
2000    4317784  7.112413
2001    7027000  7.070647
2002    5894532  7.045620
2003    7480686  7.114410
2004    9590716  6.999909
2005    8209986  7.011864
2006   11022718  6.901546
2007   10693163  6.859703
2008   13250500  6.892164
2009   15972119  6.732825
2010   18044725  6.752793
2011   16347306  6.560325
2012   14460484  6.444896
2013   15211249  6.375974
2014   14570038  6.249384
2015   12481394  6.121925
2016    1850030  5.834524
2018     123456  6.935704
All   239235500  6.921952

###  透视表过滤

In [95]:
table = pd.pivot_table(df, index = ["年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

In [96]:
type(table)

pandas.core.frame.DataFrame

In [97]:
table[:5]

      投票人数        评分
年代
1888   776  7.950000
1890    51  4.800000
1892   176  7.500000
1894   338  6.633333
1895  7679  7.575000

**1994年被誉为电影史上最伟大的一年，但是通过数据我们可以发现，1994年的平均得分其实并不是很高。1924年的电影均分最高。**

In [98]:
table[table.index == 1994]

         投票人数       评分
年代
1994  5668165  7.25726

In [101]:
table.sort_values("评分", ascending = False)

          投票人数        评分
年代
1924     10382  8.059259
1928     16133  7.964103
1888       776  7.950000
1912       724  7.925000
1923      7611  7.811765
1922     16876  7.804545
1925     27607  7.788000
1952    128121  7.775294
1926     10203  7.773913
1927     20163  7.751724
1921     16056  7.750000
1961    324975  7.741000
1938     20976  7.736842
1954    222337  7.714851
1962    281964  7.707042
1916      7333  7.690909
1902     11548  7.680000
1945     48462  7.673469
1950    169862  7.655263
1909       248  7.650000
1949     57110  7.646067
1948    103136  7.645349
1951     75495  7.637179
1957    317989  7.622115
1904      1495  7.616667
1936     87864  7.615254
1946     61033  7.606780
1943     42300  7.605357
1956    153943  7.591724
1965    323972  7.591304
1960    189424  7.580769
1953    421134  7.579310
1895      7679  7.575000
1959    220809  7.571875
1937     77381  7.568750
1955    228056  7.567544
1942    138211  7.554717
1940    216213  7.544737
1964    201454  7.540782
1944     54398  7.538889
1958    108116  7.536885
1963    169316  7.536364
1934     39573  7.536000
1966    236142  7.521910
1939    289681  7.520408
1935     40834  7.515217
1947     32834  7.502703
1892       176  7.500000
1911       924  7.500000
1919      3506  7.494444
1920      8911  7.492857
1931     61684  7.483333
1967    217681  7.477143
1898      1157  7.450000
1929     25919  7.440000
1941     72982  7.427660
1908      1475  7.425000
1933     36289  7.420833
1984    784106  7.380887
1969    122661  7.367647
1930     13877  7.360000
1906      1329  7.342857
1997   4426584  7.325758
1968    188333  7.324706
1983    426771  7.296727
1932     22203  7.294595
1970    128492  7.294149
1979    426270  7.292857
1982    569800  7.286260
1987   1073070  7.282111
1995   3976373  7.275052
1985    509528  7.267722
1988   1875710  7.265544
1915      6298  7.260000
1994   5668165  7.257260
1972    475755  7.253431
1901       658  7.250000
1986    916279  7.249536
1996   2634034  7.249119
1973    170270  7.238095
1900      1227  7.228571
1998   4286770  7.223540
1918      4285  7.200000
1989   1176669  7.199233
1992   2385473  7.190187
1993   3579850  7.186560
1980    539000  7.182063
1999   4459724  7.171151
1990   1951292  7.156923
1991   1921033  7.154412
1981    440794  7.154044
1977    210467  7.151376
1971    299585  7.149309
2003   7480686  7.114410
2000   4317784  7.112413
1976    312364  7.107725
1978    201366  7.096517
1917      1493  7.075000
2001   7027000  7.070647
1974    375884  7.063964
1975    435544  7.056995
2002   5894532  7.045620
1896      7874  7.037500
1907      1068  7.020000
1903      4548  7.015385
2005   8209986  7.011864
2004   9590716  6.999909
1910       526  6.940000
2018    123456  6.935704
2006  11022718  6.901546
1899       142  6.900000
2008  13250500  6.892164
2007  10693163  6.859703
1905      1663  6.820000
2010  18044725  6.752793
2009  15972119  6.732825
1913       436  6.671429
1894       338  6.633333
1897       201  6.633333
2011  16347306  6.560325
1914      2728  6.473077
2012  14460484  6.444896
2013  15211249  6.375974
2014  14570038  6.249384
2015  12481394  6.121925
2016   1850030  5.834524
1890        51  4.800000

**同样的，我们也可以按照多个索引来进行汇总。**

In [102]:
pd.pivot_table(df, index = ["产地", "年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

              投票人数        评分
产地   年代
中国台湾 1963      121  6.400000
     1965      461  6.800000
     1966       51  7.900000
     1967     4444  8.000000
     1968      178  7.400000
...            ...       ...
韩国   2012   610317  6.035238
     2013  1130800  6.062037
     2014   453152  5.650833
     2015   349808  5.423853
     2016    34797  5.730000

[1578 rows x 2 columns]